{% extends "index.html" %}
{% block content %}
<h3>Design Assumptions:</h3>
<ol>
    <li>For now Schools are not added to model architecture as heroku restricted free to 5 tables</li>
    <li>All Problem statements are hypelinked in class section</li>
    <li>If you are using dev setup:</li>
    <li>Code works with sqlite db django provides</li>
    <li>Run <blockquote>python manage.py migrate</blockquote> to create database</li>
    <li>Please run script.py and populate_students.py in order to populate_data and get it to get the server running</li>
    <li>To run a script, use <blockquote>python manage.py runscript scriptname </blockquote> </li>
    <li>I created one class for each subject taught by teacher. A classroom have 4 such classes in my populated data</li>
    <li>Each classroom has 15 students, so each student takes 4 classes.</li>
    <li>So for 9 teachers given in sample data, total of 5 class rooms, 18 classes,  and 75 students, 14 subjects are created</li>
</ol>

{% endblock %}